<script lang="ts" setup>
import EmojiField from "@/components/EmojiField.vue";
import ArrowCircleRight from "@/assets/icons/arrow-circle-right.svg";
import type Emoji from "@/types/Emoji";
import type Entry from "@/types/Entry";
import { computed, onMounted, ref } from "vue";
import { userInjectionKey } from "@/injectionKeys";
import { inject } from "vue";

const emits = defineEmits<{
  (e: "@create", entry: Entry): void;
}>();

// data
const MAX_CHARACTERS = 280;
const body = ref<string>("");
const emoji = ref<Emoji | null>(null);
const textarea = ref<HTMLTextAreaElement | null>(null);
const user = inject(userInjectionKey);

// computed
const charCount = computed(() => body.value.length);

// methods
const handleSubmit = () => {
  emits("@create", {
    body: body.value,
    emoji: emoji.value,
    id: 1,
    userId: Math.random(),
    createdAt: new Date(),
  });

  resetForm();
};
const handleTextInput = (event: KeyboardEvent) => {
  body.value = (event.target as HTMLTextAreaElement).value;

  if (charCount.value > MAX_CHARACTERS) {
    body.value = body.value.slice(0, MAX_CHARACTERS);
  }
};
const resetForm = () => {
  body.value = "";
  emoji.value = null;

  textarea.value?.focus();
};

onMounted(() => {
  textarea.value?.focus();
});
</script>
<template>
  <form class="entry-form" @submit.prevent="handleSubmit">
    <textarea
      ref="textarea"
      @keyup="handleTextInput"
      :value="body"
      :placeholder="`New Journal Entry for ${user?.username || 'anonymous'}`"
    ></textarea>
    <EmojiField v-model="emoji" />
    <div class="entry-form-footer">
      <span>{{ charCount }} / {{ MAX_CHARACTERS }}</span>
      <button>Remember <ArrowCircleRight width="20" /></button>
    </div>
  </form>
</template>
